* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

#box1 {
  width: 200px;
  height: 200px;
  background-color: #f1c40f;
}

#box2 {
  width: 200px;
  height: 200px;
  background-color: #e74c3c;
}

#box3 {
  width: 200px;
  height: 200px;
  background-color: #3498db;
}
