* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

#page-1 {
  height: 100%;
  width: 100%;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-2 {
  height: 100%;
  width: 100%;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-3 {
  height: 100%;
  width: 100%;
  background-color: lightsalmon;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box {
  height: 250px;
  width: 250px;
  background-color: crimson;
}
