* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

#page-1 {
  height: 100%;
  width: 100%;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-2 {
  height: 100%;
  width: 100%;
  background-color: lightskyblue;
  /* padding: 5vw 0; */
}

#page-3 {
  height: 100%;
  width: 100%;
  background-color: lightsalmon;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

#box {
  height: 250px;
  width: 250px;
  background-color: crimson;
}

#page-2 h1 {
  font-size: 40vw;
  font-weight: 500;
  text-transform: uppercase;
}

#page-3 h1 {
  font-size: 3rem;
  color: white;
  background-color: crimson;
  padding: 10px;
  position: relative;
}

#page-3 h2 {
  font-size: 2.5rem;
  color: white;
  background-color: crimson;
  padding: 10px;
  position: relative;
}
